<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 	
                http://www.springframework.org/schema/aop 
   				http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   				http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	
	<import resource="beans.xml"/>

	<bean id="student" class="com.classpath.di.Student" init-method="myCustomInit" destroy-method="myCustomDestroy" lazy-init="true">
		<constructor-arg  ref="collegeService"></constructor-arg>
		<property name="name" value="Pradeep"></property>
		<property name="age" value="22"></property>
		<property name="address" ref="address"></property>
		<property name="courses">
		   <set  value-type="com.classpath.di.Course">
		     <value>physics</value>
		     <value>chemistry</value>
		     <value>maths</value>
		     <value>botany</value>		     
		   </set>
		</property>
		<property name="petNames">
		   <list>
		     <value>Ramesh</value>
		     <value>Suresh</value>
		   </list>
		</property>
	</bean>

	<bean id="collegeService" class="com.classpath.di.College">
	<property name="collegeMap">
	   <map>
	     <entry key="1" value="RV College Of Engineering"></entry>
	     <entry key="2" value="KIT Engineering"></entry>
	     <entry key="3" value="RV College Of Engineering"></entry>
	     <entry key="4" value="RV College Of Engineering"></entry>
	     <entry key="5" value="RV College Of Engineering"></entry>
	     
	   </map>
	</property>
	</bean>

	
	<bean id="address" class="com.classpath.di.Address">
	   <property name="city" value="Bangalore"></property>
	   <property name="state" value="Karnataka"></property>
	   <property name="street" value="1st Cross, RajajiNagar"></property>
	</bean>
	
	<bean id="physics" class="com.classpath.di.Course">
		<constructor-arg value="Physics"></constructor-arg>
	</bean>
		<bean id="chemistry" class="com.classpath.di.Course">
		<constructor-arg value="Chemistry"></constructor-arg>
	</bean>
	<bean id="zoology" class="com.classpath.di.Course">
		<constructor-arg value="Zoology"></constructor-arg>
	</bean>
		<bean id="maths" class="com.classpath.di.Course">
		<constructor-arg value="Mahths"></constructor-arg>
	</bean>
		<bean id="botany" class="com.classpath.di.Course">
		<constructor-arg value="Botany"></constructor-arg>
	</bean>
	
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>database.properties</value>
		</property>
	</bean>
	
	<bean id="dataSource"
		class="com.classpath.di.DataSource">

		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="userName" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!--  <bean id="customBeanPostProcessor" class="com.classpath.postprocessor.MyCustomBeanPostProcessor">
	</bean>  -->
	
	

</beans>